body {
    background-color: #282c34;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    /* Allow the page to scroll */
}

h1 {
    font-size: 2.5em;
    color: #61dafb;
    margin-bottom: 20px;
    margin-top: 20px;
    /* Add margin to the top */
    text-align: center;
}

button {
    background-color: #ffcc00;
    color: #282c34;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9900;
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

h2 {
    font-size: 2em;
    color: #61dafb;
    margin-top: 30px;
}

li {
    font-size: x-large;
}

select {
    background-color: #ffcc00;
    color: #282c34;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

select:hover {
    background-color: #ff9900;
}

select:focus {
    outline: none;
}

.board-container {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(48, 237, 174);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Add space between the elements */
    margin-bottom: 20px;
    /* Add margin to the bottom */
}

.board-row {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.board-input,
.board-box {
    background-color: #fff;
    color: #282c34;
    text-align: center;
    margin: 5px;
    padding: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.board-input.input-5x5, .board-box.input-5x5 {
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.board-input.input-4x4, .board-box.input-4x4 {
    width: 70px;
    height: 70px;
    font-size: 34px;
}

.word-finder-container,
.boggle-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.board-input:hover,
.board-box:hover {
    background-color: #f0f0f0;
}

.board-input:focus,
.board-box:focus {
    background-color: #e0e0e0;
}

.words-list {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.words-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.word-item {
    background-color: #61dafb;
    color: #282c34;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.word-item:hover {
    background-color: #4a90e2;
}

.generate-board-btn {
    background-color: #61dafb;
    color: #282c34;
    padding: 15px 20px;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.generate-board-btn:hover {
    background-color: #4a90e2;
}

.generate-board-btn:focus {
    outline: none;
}

.clear-board-btn {
    background-color: #ff6347;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.clear-board-btn:hover {
    background-color: #ff4500;
}

.clear-board-btn:focus {
    outline: none;
}

.button-spacing {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.home-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.dropdown {
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 17px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

/* .board-5x5 {
    width: 350px;
    height: 350px;
    /* width: auto; */
/* min-width: 333px; */
/* }

.board-4x4 {
    width: 400px;
    height: 400px; */
/* width: auto; */
/* min-width: 315px; */
/* } */

.highlighted {
    background-color: yellow;
}

.popup-box {
    position: absolute;
    background-color: white;
    color: #000;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 300px;
    /* Set a maximum width for the pop-up box */
    word-wrap: break-word;
    /* Ensure long words break to a new line */
    white-space: normal;
    /* Allow text to wrap to a new line */
}